div(ng-controller="signupController as signup")
  .chosen-wants.animated.fadeInRight(ng-hide="signup.chooseOffers")
    .row
      .col-lg-12
        h2 I would like to learn about:
        .all-wantsandoffers
          a.animated.bounceIn(href="#" ng-repeat="want in signup.initialWants" ng-click="signup.toggleWant(want)") 
            span.glyphicon.glyphicon-remove
            | {{want}}
    .row
      .col-md-4
        h4 Language Learning
        .checkbox(ng-repeat="subject in signup.sampleCategories.language")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant1)")
          input.form-control(ng-model="customWant1" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Technology
        .checkbox(ng-repeat="subject in signup.sampleCategories.technology")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant2)")
          input.form-control(ng-model="customWant2" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Sports
        .checkbox(ng-repeat="subject in signup.sampleCategories.sports")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant3)")
          input.form-control(ng-model="customWant3" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
    .row
      .col-md-4
        h4 Knowledge
        .checkbox(ng-repeat="subject in signup.sampleCategories.knowledge")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant4)")
          input.form-control(ng-model="customWant4" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Wild 'n Wacky
        .checkbox(ng-repeat="subject in signup.sampleCategories.wild")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant5)")
          input.form-control(ng-model="customWant5" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Business
        .checkbox(ng-repeat="subject in signup.sampleCategories.business")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant6)")
          input.form-control(ng-model="customWant6" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
    .row
      .col-md-4
        h4 Craft and Design
        .checkbox(ng-repeat="subject in signup.sampleCategories.craftAndDesign")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialWants.indexOf(subject) > -1"
            ng-click="signup.toggleWant(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleWant(customWant7)")
          input.form-control(ng-model="customWant7" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-8
        .btn.btn-lg.btn-primary.btn-block.btn-select-subject(ng-click="signup.chooseOffers = true") Submit Selections

  .chosen-offers.animated.fadeInRight(ng-show="signup.chooseOffers")
    .row
      .btn.btn-sm.btn-default(ng-click="signup.chooseOffers = false") Go Back
    .row
      .col-lg-12
        h2 I know a lot about:
        .all-wantsandoffers
          a.animated.bounceIn(href="#" ng-repeat="offer in signup.initialOffers" ng-click="signup.toggleOffer(offer)") 
            span.glyphicon.glyphicon-remove
            | {{offer}}
    .row
      .col-md-4
        h4 Language Learning
        .checkbox(ng-repeat="subject in signup.sampleCategories.language")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer1)")
          input.form-control(ng-model="customOffer1" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Technology
        .checkbox(ng-repeat="subject in signup.sampleCategories.technology")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer2)")
          input.form-control(ng-model="customOffer2" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Sports
        .checkbox(ng-repeat="subject in signup.sampleCategories.sports")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer3)")
          input.form-control(ng-model="customOffer3" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
    .row
      .col-md-4
        h4 Knowledge
        .checkbox(ng-repeat="subject in signup.sampleCategories.knowledge")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer4)")
          input.form-control(ng-model="customOffer4" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Wild 'n Wacky
        .checkbox(ng-repeat="subject in signup.sampleCategories.wild")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer5)")
          input.form-control(ng-model="customOffer5" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-4
        h4 Business
        .checkbox(ng-repeat="subject in signup.sampleCategories.business")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer6)")
          input.form-control(ng-model="customOffer6" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
    .row
      .col-md-4
        h4 Craft and Design
        .checkbox(ng-repeat="subject in signup.sampleCategories.craftAndDesign")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="signup.initialOffers.indexOf(subject) > -1"
            ng-click="signup.toggleOffer(subject)")
            | {{subject}}
        form.custom-form(ng-submit="signup.toggleOffer(customOffer7)")
          input.form-control(ng-model="customOffer7" type="text" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-8
        .btn.btn-lg.btn-primary.btn-block.btn-select-subject(ng-click="signup.doSignup()") Submit and Get Started
